/* Alterando as cores do site para vermelho e preto */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    background: linear-gradient(to right, #ff0000, #000000);
    color: #fff;
    padding: 20px;
    text-align: center;
}

.logo img {
    max-width: 150px;
}

h1, h2 {
    margin: 10px 0;
}

main {
    padding: 20px;
    text-align: center;
    color: #fff;
}

.description p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center; /* Centraliza os botões */
    margin-top: 20px;
}

.buttons .button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    background: #ff0000;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    transition: background 0.3s ease;
}

.buttons .button:hover {
    background: #cc0000;
}

.content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.item img {
    width: 100%;
    border-radius: 10px;
}

.item h2 {
    margin: 10px 0;
    font-size: 1.2em;
}

.item p {
    font-size: 0.9em;
}
